html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    background-image: url("/branches.jpg");
    background-size: cover;
    background-color: #cccccc;
    margin-top: 6%;
}

body, html { 
    overflow-x: hidden; 
    overflow-y: auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#bgCanvas {
  position: absolute;
  top:0px;
  left:0px;
  z-index: -2;
}

/*| Navigation |*/

*, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

p img{
    padding: 10px;
    float:left;
}


body p{  
   background-color:rgba(255, 255, 255, .9);
   width: 75%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 2%;
   padding: 3%;
   box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
   border: 1px solid rgba(0,0,0,.1);
}

nav{
    
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);
}
#title {
  z-index: 1;
  position: fixed;
  color: #222; 
  font-size: 2em;
  letter-spacing: 0.5px;
  padding: 5px 20px;
  white-space: nowrap;
  width: 25%;
}

#title h6{
   padding: 0px 30px;
}

nav ul{
  list-style: none;
  position: relative;
  float: right;
  margin-right: 100px;
  display: inline-table;
}
    
nav ul li{
  float: right;
}

nav ul li:hover{text-decoration: underline;}
nav ul li:hover > ul{display: block;}

nav ul li a{
  display: block; 
  padding: 30px 20px;
  color: #222; 
  font-size: .9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
