audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

.bg1{
    background-image: url("/img/bg-tile.png");
}

.bg2{
    background-image: url("/img/bg-tile2.png");
}

.bg3{
    background-image: url("/img/bg-tile3.png");
}

.btn:hover {
    text-decoration: underline;
}

.droid {
    font-family: 'Droid Sans';
}

.t-box {
    width: 75%;
    background-color:rgba(255, 255, 255, .94);
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.1);
}

#background-sketch {
  position: absolute;
  top:0px;
  left:0px;
  z-index: -2;
}

body {
    font-family: 'Droid Sans';
}

html { 
    overflow-y: scroll;
}

nav {
    background: rgba(255,255,255,.94);
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.1);
}
